.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 300px;


}
.dialog{
    padding: 10px;
}

.dialogsItems{
    background-color: wheat;

    margin: 10px;
}
.linkDialog{
    text-decoration: none;

}
.messages{
    padding: 10px;
    margin: 0 0 10px 0;
}

.message{
    padding: 10px;
}
